openapi: 3.0.2
info:
  description: |
    ## Introduction
    The Puppet Forge API (hereafter referred to as the Forge API) provides quick access to all the
    data on the Puppet Forge via a RESTful interface. Using the Forge API, you can write scripts and
    tools that interact with the Puppet Forge website.

    The Forge API's current version is `v3`. It is considered regression-stable, meaning that the returned
    data is guaranteed to include the fields described in the schemas on this page; however, additional data
    might be added in the future and clients must ignore any properties they do not recognize.

    ## OpenAPI Specification
    The Puppet Forge v3 API is described by an
    [OpenAPI 3.0](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.0.md) formatted
    specification file. The most up-to-date version of this specification file can be accessed at
    [https://forgeapi.puppet.com/v3/openapi.json](/v3/openapi.json).

    ## Features
    * The API is accessed over HTTPS via either the `forgeapi.puppet.com` (IPv4 or IPv6). All data is returned in JSON
      format.
    * Blank fields are included as `null`.
    * Nested resources may use an abbreviated representation. A link to the full representation for the
      resource is always included.
    * All timestamps in JSON responses are returned in ISO 8601 format: `YYYY-MM-DD HH:MM:SS ±HHMM`.
    * The HTTP response headers include caching hints for conditional requests.

    ## Concepts and Terminology
    * **Module**: Modules are self-contained bundles of code and data with a specific directory structure. Modules are identified by a combination of the author's username and the module's name, separated by a hyphen. For example: `puppetlabs-apache`
    * **Release**: A single, specific version of a module is called a Release. Releases are identified by a combination of the module identifier (see above) and the Release version, separated by a hyphen. For example: `puppetlabs-apache-4.0.0`

    ## Errors
    The Puppet Forge API follows [RFC 2616](https://tools.ietf.org/html/rfc2616) and
    [RFC 6585](https://tools.ietf.org/html/rfc6585).

    Error responses are served with a `4xx` or `5xx` status code, and are sent as a JSON document with a content type
    of `application/json`. The error document contains the following top-level keys and values:

      * `message`: a string value that summarizes the problem
      * `errors`: a list (array) of strings containing additional details describing the underlying cause(s) of the
        failure

    An example error response is shown below:

    ```json
    {
      "message": "400 Bad Request",
      "errors": [
        "Cannot parse request body as JSON"
      ]
    }
    ```

    ## User-Agent Required
    All API requests must include a valid `User-Agent` header. Requests with no `User-Agent` header will
    be rejected. The `User-Agent` header helps identify your application or library, so we can communicate
    with you if necessary. If your use of the API is informal or personal, we recommend using your username
    as the value for the `User-Agent` header.

    User-Agent headers are a list of one or more product descriptions, generally taking this form:

    ```
    <name-without-spaces>/<version> (comments)
    ```

    For example, the following are all useful User-Agent values:

    ```
    MyApplication/0.0.0 Her/0.6.8 Faraday/0.8.8 Ruby/1.9.3-p194 (i386-linux)
    My-Library-Name/1.2.4
    myusername
    ```

    ## Hostname Configuration
    Most tools that interact with the Forge API allow specification of the hostname to use. You can configure
    a few common tools to use a specified hostname as follows:

    For **Puppet Enterprise** users, in [r10k](https://puppet.com/docs/pe/latest/r10k_customize_config.html#r10k_configuring_forge_settings)
    or [Code Manager](https://puppet.com/docs/pe/latest/code_mgr_customizing.html#config_forge_settings), specify
    `forge_settings` in Hiera:
    ```
    pe_r10k::forge_settings:
      baseurl: 'https://forgeapi.puppet.com'
    ```
    or
    ```
    puppet_enterprise::master::code_manager::forge_settings:
      baseurl: 'https://forgeapi.puppet.com'
    ```
    <br />

    If you are an **open source Puppet** user using r10k, you'll need to [edit your r10k.yaml
    directly](https://github.com/puppetlabs/r10k/blob/main/doc/dynamic-environments/configuration.mkd#forge):
    ```
    forge:
      baseurl: 'https://forgeapi.puppet.com'
    ```
    or set the appropriate class param for the [open source r10k module](https://forge.puppet.com/puppet/r10k#forge_settings):
    ```
    $forge_settings = {
      'baseurl' => 'https://forgeapi.puppet.com',
    }
    ```
    <br />

    In [**Bolt**](https://puppet.com/docs/bolt/latest/bolt_installing_modules.html#install-forge-modules-from-an-alternate-forge), set a `baseurl` for the Forge in `bolt-project.yaml`:
    ```
    module-install:
      forge:
        baseurl: https://forgeapi.puppet.com
    ```
    <br />

    Using `puppet config`:
    ```
    $ puppet config set module_repository https://forgeapi.puppet.com
    ```
  title: Puppet Forge v3 API
  version: "29"
servers:
- url: https://forgeapi.puppet.com
paths:
  /v3/files/{filename}:
    get:
      description: |
        Download a module release tarball
      operationId: getFile
      parameters:
      - description: Module release filename to be downloaded (e.g. "puppetlabs-apache-2.0.0.tar.gz")
        explode: false
        in: path
        name: filename
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: OK
          headers:
            Content-Disposition:
              description: Indicates response should be treated as an attachment and
                suggests a filename which matches the requested tarball name
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFile_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFile_404_response'
          description: Not Found
      summary: Download module release
      tags:
      - Release Operations
  /v3/modules:
    get:
      description: |
        Returns a list of modules meeting the specified search criteria and filters. Results are paginated. All
        of the parameters are optional. To publish or delete a Release resource, see [Release operations](#tag/Release-Operations).
      operationId: getModules
      parameters:
      - description: The numbers of items to return per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: The number of items to skip before starting to collect the result
          set
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: |
          Desired order in which to return results, note that `rank` is only available (and becomes the default) when
          a value has been provided for the `query` param
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          enum:
          - rank
          - downloads
          - latest_release
          type: string
        style: form
      - description: Freeform textual search query
        example: apache
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: Constrain results to modules that have the given tag
        example: httpd
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Constrain results to modules owned by the given user
        example: puppetlabs
        explode: true
        in: query
        name: owner
        required: false
        schema:
          type: string
        style: form
      - description: |
          Constrain results to modules that include
          [Bolt tasks](https://puppet.com/docs/bolt/latest/writing_tasks_and_plans.html)
        explode: true
        in: query
        name: with_tasks
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Constrain results to modules that include
          [Bolt plans](https://puppet.com/docs/bolt/latest/writing_tasks_and_plans.html)
        explode: true
        in: query
        name: with_plans
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Constrain results to modules created with
          [Puppet Development Kit](https://puppet.com/docs/pdk/latest/pdk.html)
        explode: true
        in: query
        name: with_pdk
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Constrain results to modules that require payment to download (incompatible with the
          `exclude_premium` parameter)
        example: "true"
        explode: true
        in: query
        name: premium
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Constrain results to modules that are free to download (incompatible with the
          `premium` parameter)
        example: "true"
        explode: true
        in: query
        name: exclude_premium
        required: false
        schema:
          type: boolean
        style: form
      - description: Constrain results to modules with at least one of the given endorsements
        example: supported+approved
        explode: false
        in: query
        name: endorsements
        required: false
        schema:
          items:
            enum:
            - supported
            - approved
            - partner
            type: string
          type: array
        style: spaceDelimited
      - description: |
          Constrain results to modules that explicitly support the given operating system, see
          [metadata.json documentation](https://puppet.com/docs/puppet/latest/modules_metadata.html#specifying-operating-system-compatibility) for more information about possible values, see also the `only_latest` param
        example: redhat
        explode: true
        in: query
        name: operatingsystem
        required: false
        schema:
          type: string
        style: form
      - description: |
          Constrain results to modules that explicitly support the
          given release of the given operating system, see [metadata.json
          documentation](https://puppet.com/docs/puppet/latest/modules_metadata.html#specifying-operating-system-compatibility)
          for more information about possible values. Requires `operatingsystem`.
        example: 2012 R2
        explode: true
        in: query
        name: operatingsystemrelease
        required: false
        schema:
          type: string
        style: form
      - description: |
          Constrain results to modules that explicitly list a Puppet Enterprise version requirement in the given
          [semantic versioning range](https://puppet.com/docs/puppet/latest/modules_metadata.html#specifying-versions),
          see also the `only_latest` param
        example: 5.x
        explode: true
        in: query
        name: pe_requirement
        required: false
        schema:
          format: semantic version range
          type: string
        style: form
      - description: |
          Constrain results to modules that explicitly list a Puppet version requirement in the given
          [semantic versioning range](https://puppet.com/docs/puppet/latest/modules_metadata.html#specifying-versions),
          see also the `only_latest` param
        example: 6.x
        explode: true
        in: query
        name: puppet_requirement
        required: false
        schema:
          format: semantic version range
          type: string
        style: form
      - description: |
          Constrain results to modules with at least one release that has a minimum validation_score greater
          than or equal to the provided integer, see also the `only_latest` param
        example: 90
        explode: true
        in: query
        name: with_minimum_score
        required: false
        schema:
          type: integer
        style: form
      - description: Constrain results to modules in any of the given module groups
        example:
        - base
        - pe_only
        explode: false
        in: query
        name: module_groups
        required: false
        schema:
          items:
            enum:
            - base
            - pe_only
            type: string
          type: array
        style: spaceDelimited
      - description: Include modules where all released versions have been marked
          as deleted
        explode: true
        in: query
        name: show_deleted
        required: false
        schema:
          type: boolean
        style: form
      - description: Exclude deprecated modules from the results. Treats any value
          as true.
        explode: true
        in: query
        name: hide_deprecated
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          When checking modules against the `operatingsystem`, `operatingsystemrelease`,
          `pe_requirement`, or `puppet_requirement` filters, only consider the compatibility
          information for the latest release of the module, where "latest" means: the module release
          with the highest precedence, non-pre-release version (see also:
          [semver.org](https://semver.org/#spec-item-11))
        explode: true
        in: query
        name: only_latest
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          A comma-separated list of specific modules to retrieve. Module names should be
          specified in the hyphenated "slug" format (`author_name-module_name`). If at least
          one of the requested modules is not found, this endpoint returns a 404 error, with
          the slugs of the missing module(s) in the body. This parameter is incompatible
          with the `endorsements`, `module_groups`, `only_latest`, `operatingsystem`,
          `operatingsystemrelease`, `owner`, `pe_requirement`, `puppet_requirement`, `query`,
          `show_deleted`, `hide_deprecated`, `tag`, `with_minimum_score`, `with_pdk`,
          `with_tasks`, and `with_plans` parameters. These will produce 400 errors when
          included. Note that any matching soft-deleted modules (modules with no associated
          releases) will always be included in the results alongside modules with releases.
        example:
        - puppetlabs-stdlib
        - puppet-logrotate
        explode: false
        in: query
        name: slugs
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Render markdown files (README, REFERENCE, etc.) to HTML before\
          \ returning results"
        explode: true
        in: query
        name: with_html
        required: false
        schema:
          type: boolean
        style: form
      - description: "List of top level keys to include in response object, only applies\
          \ to fields marked 'optional'"
        example:
        - docs
        explode: false
        in: query
        name: include_fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: spaceDelimited
      - description: List of top level keys to exclude from response object
        example:
        - readme
        - changelog
        - license
        - reference
        explode: false
        in: query
        name: exclude_fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: spaceDelimited
      - explode: false
        in: header
        name: If-Modified-Since
        required: false
        schema:
          description: |
            Only processes the request if the resource or list of resources has changed since the given time,
            otherwise returns a `304 Not Modified` response
          example: "Mon, 19 Feb 2019 10:15:08 GMT"
          format: rfc2616 httpdate
          type: string
        style: simple
      - description: |
          Constrain results to modules whose slug begins with the provided prefix
        example: pup
        explode: true
        in: query
        name: starts_with
        required: false
        schema:
          type: string
        style: form
      - deprecated: true
        description: |
          Constrain results to [Supported modules](https://forge.puppet.com/supported), see "endorsements"
          param instead
        explode: true
        in: query
        name: supported
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Constrain results to modules that have had at least one release since the given ISO 8601 date
        explode: true
        in: query
        name: with_release_since
        required: false
        schema:
          example: 2020-02-22
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getModules_200_response'
          description: OK
        "304":
          description: Not Modified
          headers:
            Last-Modified:
              explode: false
              schema:
                description: Date and time that this response last changed
                example: "Mon, 19 Feb 2019 10:15:08 GMT"
                format: rfc2616 httpdate
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFile_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFile_404_response'
          description: Not Found
      summary: List modules
      tags:
      - Module Operations
  /v3/search_filters:
    get:
      description: Retrieve all search filters for the authenticated user.
      operationId: getUserSearchFilters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchFilterResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFile_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getUserSearchFilters_401_response'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFile_404_response'
          description: Not Found
      summary: Get user's search filters
      tags:
      - Search Filter Operations
    post:
      description: |
        Create a new search filter for the authenticated user.
      operationId: addSearchFilter
      parameters:
      - description: |
          Publish a new search filter for logged-in user
        example: "apache,supported,linux"
        explode: true
        in: query
        name: search_filter_slug
        required: true
        schema:
          pattern: "^[a-zA-Z0-9]+[-\\/][a-z][a-z0-9_]*$"
          type: string
        style: form
      - description: "Render markdown files (README, REFERENCE, etc.) to HTML before\
          \ returning results"
        explode: true
        in: query
        name: with_html
        required: false
        schema:
          type: boolean
        style: form
      - description: "List of top level keys to include in response object, only applies\
          \ to fields marked 'optional'"
        example:
        - docs
        explode: false
        in: query
        name: include_fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: spaceDelimited
      - description: List of top level keys to exclude from response object
        example:
        - readme
        - changelog
        - license
        - reference
        explode: false
        in: query
        name: exclude_fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: spaceDelimited
      - explode: false
        in: header
        name: If-Modified-Since
        required: false
        schema:
          description: |
            Only processes the request if the resource or list of resources has changed since the given time,
            otherwise returns a `304 Not Modified` response
          example: "Mon, 19 Feb 2019 10:15:08 GMT"
          format: rfc2616 httpdate
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchFilter'
          description: OK
        "304":
          description: Not Modified
          headers:
            Last-Modified:
              explode: false
              schema:
                description: Date and time that this response last changed
                example: "Mon, 19 Feb 2019 10:15:08 GMT"
                format: rfc2616 httpdate
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFile_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFile_404_response'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addSearchFilter_409_response'
          description: Conflict
      summary: Create search filter
      tags:
      - Search Filter Operations
  /v3/search_filters/{id}:
    delete:
      description: Delete user's search filter by ID for authenticated user
      operationId: deleteUserSearchFilter
      parameters:
      - description: Search filter ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteUserSearchFilter_403_response'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFile_404_response'
          description: Not Found
      security:
      - ApiKeyAuth: []
      summary: Delete search filter by ID
      tags:
      - Search Filter Operations
  /v3/modules/{module_slug}:
    delete:
      description: |
        Perform a soft delete of a module, identified by the module's `slug` value. The module's releases will still be available for direct download via their associated `/v3/files` endpoints, but the module will no longer be readily available through the Forge web interface.
      operationId: deleteModule
      parameters:
      - description: Unique textual identifier (slug) of the Module resource to retrieve
        example: puppetlabs-apache
        explode: false
        in: path
        name: module_slug
        required: true
        schema:
          pattern: "^[a-zA-Z0-9]+[-\\/][a-zA-Z][a-zA-Z0-9_]*$"
          type: string
        style: simple
      - description: Reason for deletion
        example: Broken code
        explode: true
        in: query
        name: reason
        required: true
        schema:
          type: string
        style: form
      responses:
        "204":
          description: No Content (the module was deleted successfully)
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFile_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getUserSearchFilters_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteUserSearchFilter_403_response'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFile_404_response'
          description: Not Found
      security:
      - ApiKeyAuth: []
      summary: Delete module
      tags:
      - Module Operations
    get:
      description: |
        Returns data for a single Module resource identified by the module's `slug` value.
      operationId: getModule
      parameters:
      - description: Unique textual identifier (slug) of the Module resource to retrieve
        example: puppetlabs-apache
        explode: false
        in: path
        name: module_slug
        required: true
        schema:
          pattern: "^[a-zA-Z0-9]+[-\\/][a-z][a-z0-9_]*$"
          type: string
        style: simple
      - description: "Render markdown files (README, REFERENCE, etc.) to HTML before\
          \ returning results"
        explode: true
        in: query
        name: with_html
        required: false
        schema:
          type: boolean
        style: form
      - description: "List of top level keys to include in response object, only applies\
          \ to fields marked 'optional'"
        example:
        - docs
        explode: false
        in: query
        name: include_fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: spaceDelimited
      - description: List of top level keys to exclude from response object
        example:
        - readme
        - changelog
        - license
        - reference
        explode: false
        in: query
        name: exclude_fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: spaceDelimited
      - explode: false
        in: header
        name: If-Modified-Since
        required: false
        schema:
          description: |
            Only processes the request if the resource or list of resources has changed since the given time,
            otherwise returns a `304 Not Modified` response
          example: "Mon, 19 Feb 2019 10:15:08 GMT"
          format: rfc2616 httpdate
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Module'
          description: OK
        "304":
          description: Not Modified
          headers:
            Last-Modified:
              explode: false
              schema:
                description: Date and time that this response last changed
                example: "Mon, 19 Feb 2019 10:15:08 GMT"
                format: rfc2616 httpdate
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFile_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFile_404_response'
          description: Not Found
      summary: Fetch module
      tags:
      - Module Operations
    patch:
      description: |
        Mark a module, identified by the module's `slug` value, as "deprecated". Deprecated modules are still
        visible on the Forge website, but users are directed to strongly consider alternate modules.
        **Because the deprecate action is intended to be one-way, there is no operation for undeprecating a module.**
      operationId: deprecateModule
      parameters:
      - description: Unique textual identifier (slug) of the module to deprecate
        example: puppetlabs-apache
        explode: false
        in: path
        name: module_slug
        required: true
        schema:
          pattern: "^[a-zA-Z0-9]+[-\\/][a-zA-Z][a-zA-Z0-9_]*$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeprecationRequest'
        description: Action and params for patch operation.
        required: true
      responses:
        "204":
          description: No Content (the module was successfully marked as deprecated)
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFile_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getUserSearchFilters_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteUserSearchFilter_403_response'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFile_404_response'
          description: Not Found
      security:
      - ApiKeyAuth: []
      summary: Deprecate module
      tags:
      - Module Operations
  /v3/releases:
    get:
      description: |
        Returns a list of module releases meeting the specified search criteria and filters. Results are paginated.
        All of the parameters are optional.
      operationId: getReleases
      parameters:
      - description: The numbers of items to return per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: The number of items to skip before starting to collect the result
          set
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: |
          Desired order in which to return results
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          enum:
          - downloads
          - release_date
          - module
          type: string
        style: form
      - description: Constrain results to releases for a given module
        example: puppetlabs-apache
        explode: true
        in: query
        name: module
        required: false
        schema:
          type: string
        style: form
      - description: Constrain results to releases for any modules owned by the given
          user
        example: puppetlabs
        explode: true
        in: query
        name: owner
        required: false
        schema:
          type: string
        style: form
      - description: |
          Constrain results to module releases created with
          [Puppet Development Kit](https://puppet.com/docs/pdk/latest/pdk.html)
        explode: true
        in: query
        name: with_pdk
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Constrain results to module releases that explicitly support the given operating system, see
          [metadata.json documentation](https://puppet.com/docs/puppet/latest/modules_metadata.html#specifying-operating-system-compatibility) for more information about possible values
        example: windows
        explode: true
        in: query
        name: operatingsystem
        required: false
        schema:
          type: string
        style: form
      - description: |
          Constrain results to module releases that explicitly support the
          given release of the given operating system, see [metadata.json
          documentation](https://puppet.com/docs/puppet/latest/modules_metadata.html#specifying-operating-system-compatibility)
          for more information about possible values. Requires `operatingsystem`.
        example: 2012 R2
        explode: true
        in: query
        name: operatingsystemrelease
        required: false
        schema:
          type: string
        style: form
      - description: |
          Constrain results to module releases that explicitly list a Puppet Enterprise version requirement in the given
          [semantic versioning range](https://puppet.com/docs/puppet/latest/modules_metadata.html#specifying-versions)
        example: 5.x
        explode: true
        in: query
        name: pe_requirement
        required: false
        schema:
          format: semantic version range
          type: string
        style: form
      - description: |
          Constrain results to module releases that explicitly list a Puppet version requirement in the given
          [semantic versioning range](https://puppet.com/docs/puppet/latest/modules_metadata.html#specifying-versions)
        example: 6.x
        explode: true
        in: query
        name: puppet_requirement
        required: false
        schema:
          format: semantic version range
          type: string
        style: form
      - description: Constrain results to releases for modules in any of the given
          module groups
        example: base+pe_only
        explode: false
        in: query
        name: module_groups
        required: false
        schema:
          items:
            enum:
            - base
            - pe_only
            type: string
          type: array
        style: spaceDelimited
      - description: Include releases marked as "deleted" in results
        explode: true
        in: query
        name: show_deleted
        required: false
        schema:
          type: boolean
        style: form
      - description: Exclude releases of deprecated modules from the results. Treats
          any value as true.
        explode: true
        in: query
        name: hide_deprecated
        required: false
        schema:
          type: boolean
        style: form
      - description: "Render markdown files (README, REFERENCE, etc.) to HTML before\
          \ returning results"
        explode: true
        in: query
        name: with_html
        required: false
        schema:
          type: boolean
        style: form
      - description: "List of top level keys to include in response object, only applies\
          \ to fields marked 'optional'"
        example:
        - docs
        explode: false
        in: query
        name: include_fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: spaceDelimited
      - description: List of top level keys to exclude from response object
        example:
        - readme
        - changelog
        - license
        - reference
        explode: false
        in: query
        name: exclude_fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: spaceDelimited
      - explode: false
        in: header
        name: If-Modified-Since
        required: false
        schema:
          description: |
            Only processes the request if the resource or list of resources has changed since the given time,
            otherwise returns a `304 Not Modified` response
          example: "Mon, 19 Feb 2019 10:15:08 GMT"
          format: rfc2616 httpdate
          type: string
        style: simple
      - deprecated: true
        description: |
          Constrain results to releases for [Supported modules](https://forge.puppet.com/supported)
        explode: true
        in: query
        name: supported
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReleases_200_response'
          description: OK
        "304":
          description: Not Modified
          headers:
            Last-Modified:
              explode: false
              schema:
                description: Date and time that this response last changed
                example: "Mon, 19 Feb 2019 10:15:08 GMT"
                format: rfc2616 httpdate
                type: string
              style: simple
      summary: List module releases
      tags:
      - Release Operations
    post:
      description: |
        Publish a new module or new release of an existing module
      operationId: addRelease
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addRelease_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/addRelease_request_1'
        description: "Release tarball to publish, either base64 encoded or as a multipart/form-data\
          \ upload."
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseMinimal'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFile_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getUserSearchFilters_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteUserSearchFilter_403_response'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addSearchFilter_409_response'
          description: Conflict
      security:
      - ApiKeyAuth: []
      summary: Create module release
      tags:
      - Release Operations
  /v3/releases/{release_slug}:
    delete:
      description: |
        Perform a soft delete of a module release, identified by the module release's `slug` value. The release will still be available for direct download from it's `/v3/files` endpoint, but will not be readily available in the Forge web interface.
      operationId: deleteRelease
      parameters:
      - description: Unique textual identifier (slug) of the module release to delete
        example: puppetlabs-apache-4.0.0
        explode: false
        in: path
        name: release_slug
        required: true
        schema:
          pattern: "^[a-zA-Z0-9]+[-\\/][a-z][a-z0-9_]*[-\\/][0-9]+\\.[0-9]+\\.[0-9]+(?:[\\\
            -+].+)?$"
          type: string
        style: simple
      - description: Reason for deletion
        example: bugs
        explode: true
        in: query
        name: reason
        required: true
        schema:
          type: string
        style: form
      responses:
        "204":
          description: No Content (the release was deleted successfully)
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFile_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getUserSearchFilters_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteUserSearchFilter_403_response'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFile_404_response'
          description: Not Found
      security:
      - ApiKeyAuth: []
      summary: Delete module release
      tags:
      - Release Operations
    get:
      description: |
        Returns data for a single module Release resource identified by the module release's `slug` value.
      operationId: getRelease
      parameters:
      - description: Unique textual identifier (slug) of the module Release resource
          to retrieve
        example: puppetlabs-apache-4.0.0
        explode: false
        in: path
        name: release_slug
        required: true
        schema:
          pattern: "^[a-zA-Z0-9]+[-\\/][a-z][a-z0-9_]*[-\\/][0-9]+\\.[0-9]+\\.[0-9]+(?:[\\\
            -+].+)?$"
          type: string
        style: simple
      - description: "Render markdown files (README, REFERENCE, etc.) to HTML before\
          \ returning results"
        explode: true
        in: query
        name: with_html
        required: false
        schema:
          type: boolean
        style: form
      - description: "List of top level keys to include in response object, only applies\
          \ to fields marked 'optional'"
        example:
        - docs
        explode: false
        in: query
        name: include_fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: spaceDelimited
      - description: List of top level keys to exclude from response object
        example:
        - readme
        - changelog
        - license
        - reference
        explode: false
        in: query
        name: exclude_fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: spaceDelimited
      - explode: false
        in: header
        name: If-Modified-Since
        required: false
        schema:
          description: |
            Only processes the request if the resource or list of resources has changed since the given time,
            otherwise returns a `304 Not Modified` response
          example: "Mon, 19 Feb 2019 10:15:08 GMT"
          format: rfc2616 httpdate
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Release'
          description: OK
        "304":
          description: Not Modified
          headers:
            Last-Modified:
              explode: false
              schema:
                description: Date and time that this response last changed
                example: "Mon, 19 Feb 2019 10:15:08 GMT"
                format: rfc2616 httpdate
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFile_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFile_404_response'
          description: Not Found
      summary: Fetch module release
      tags:
      - Release Operations
  /v3/releases/{release_slug}/plans:
    get:
      description: |
        Returns a paginated list of all plans from the module release identified by the `release_slug` name. The `release_slug` is composed of the hyphenated module author, name, and version number (example: `puppetlabs-lvm-1.4.0`).
      operationId: getReleasePlans
      parameters:
      - description: Unique textual identifier (slug) of the module Release resource
          to retrieve
        example: puppetlabs-apache-4.0.0
        explode: false
        in: path
        name: release_slug
        required: true
        schema:
          pattern: "^[a-zA-Z0-9]+[-\\/][a-z][a-z0-9_]*[-\\/][0-9]+\\.[0-9]+\\.[0-9]+(?:[\\\
            -+].+)?$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReleasePlans_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFile_404_response'
          description: Not Found
      summary: List module release plans
      tags:
      - Release Operations
  /v3/releases/{release_slug}/plans/{plan_name}:
    get:
      description: |
        Returns a summary of the given plan from the module release identified by the `release_slug` name. The `release_slug` is composed of the hyphenated module author, name, and version number (example: `puppetlabs-lvm-1.4.0`). The `plan_name` should be the full name including the module name (example: `lvm::expand`).
      operationId: getReleasePlan
      parameters:
      - description: Unique textual identifier (slug) of the module Release resource
          to retrieve
        example: puppetlabs-lvm-1.4.0
        explode: false
        in: path
        name: release_slug
        required: true
        schema:
          pattern: "^[a-zA-Z0-9]+[-\\/][a-z][a-z0-9_]*[-\\/][0-9]+\\.[0-9]+\\.[0-9]+(?:[\\\
            -+].+)?$"
          type: string
        style: simple
      - description: "Full name of desired plan, including module name and namespaces"
        example: lvm::expand
        explode: false
        in: path
        name: plan_name
        required: true
        schema:
          pattern: "^[a-z][a-z0-9_]*(?:::[a-z][a-z0-9_]*)*$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleasePlan'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFile_404_response'
          description: Not Found
      summary: Fetch module release plan
      tags:
      - Release Operations
  /v3/users:
    get:
      description: |
        Provides information about Puppet Forge user accounts. By default, results are returned in alphabetical
        order by username and paginated with 20 users per page. It's also possible to sort by number of published
        releases, total download counts for all the user's modules, or by the date of the user's latest release.
        All parameters are optional.
      operationId: getUsers
      parameters:
      - description: The numbers of items to return per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: The number of items to skip before starting to collect the result
          set
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: Desired order in which to return results
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          enum:
          - username
          - releases
          - downloads
          - latest_release
          type: string
        style: form
      - description: "Render markdown files (README, REFERENCE, etc.) to HTML before\
          \ returning results"
        explode: true
        in: query
        name: with_html
        required: false
        schema:
          type: boolean
        style: form
      - description: "List of top level keys to include in response object, only applies\
          \ to fields marked 'optional'"
        example:
        - docs
        explode: false
        in: query
        name: include_fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: spaceDelimited
      - description: List of top level keys to exclude from response object
        example:
        - readme
        - changelog
        - license
        - reference
        explode: false
        in: query
        name: exclude_fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: spaceDelimited
      - explode: false
        in: header
        name: If-Modified-Since
        required: false
        schema:
          description: |
            Only processes the request if the resource or list of resources has changed since the given time,
            otherwise returns a `304 Not Modified` response
          example: "Mon, 19 Feb 2019 10:15:08 GMT"
          format: rfc2616 httpdate
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getUsers_200_response'
          description: OK
        "304":
          description: Not Modified
          headers:
            Last-Modified:
              explode: false
              schema:
                description: Date and time that this response last changed
                example: "Mon, 19 Feb 2019 10:15:08 GMT"
                format: rfc2616 httpdate
                type: string
              style: simple
      summary: List users
      tags:
      - User Operations
  /v3/users/{user_slug}:
    get:
      description: |
        Returns data for a single User resource identified by the user's `slug` value.
      operationId: getUser
      parameters:
      - description: Unique textual identifier (slug) of the User resource to retrieve
        example: puppetlabs
        explode: false
        in: path
        name: user_slug
        required: true
        schema:
          pattern: "^[a-zA-Z0-9]+$"
          type: string
        style: simple
      - description: "Render markdown files (README, REFERENCE, etc.) to HTML before\
          \ returning results"
        explode: true
        in: query
        name: with_html
        required: false
        schema:
          type: boolean
        style: form
      - description: "List of top level keys to include in response object, only applies\
          \ to fields marked 'optional'"
        example:
        - docs
        explode: false
        in: query
        name: include_fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: spaceDelimited
      - description: List of top level keys to exclude from response object
        example:
        - readme
        - changelog
        - license
        - reference
        explode: false
        in: query
        name: exclude_fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: spaceDelimited
      - explode: false
        in: header
        name: If-Modified-Since
        required: false
        schema:
          description: |
            Only processes the request if the resource or list of resources has changed since the given time,
            otherwise returns a `304 Not Modified` response
          example: "Mon, 19 Feb 2019 10:15:08 GMT"
          format: rfc2616 httpdate
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: OK
        "304":
          description: Not Modified
          headers:
            Last-Modified:
              explode: false
              schema:
                description: Date and time that this response last changed
                example: "Mon, 19 Feb 2019 10:15:08 GMT"
                format: rfc2616 httpdate
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFile_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFile_404_response'
          description: Not Found
      summary: Fetch user
      tags:
      - User Operations
components:
  parameters:
    ifModifiedSince:
      explode: false
      in: header
      name: If-Modified-Since
      required: false
      schema:
        description: |
          Only processes the request if the resource or list of resources has changed since the given time,
          otherwise returns a `304 Not Modified` response
        example: "Mon, 19 Feb 2019 10:15:08 GMT"
        format: rfc2616 httpdate
        type: string
      style: simple
    limitQuery:
      description: The numbers of items to return per page
      explode: true
      in: query
      name: limit
      required: false
      schema:
        default: 20
        maximum: 100
        minimum: 1
        type: integer
      style: form
    offsetQuery:
      description: The number of items to skip before starting to collect the result
        set
      explode: true
      in: query
      name: offset
      required: false
      schema:
        default: 0
        minimum: 0
        type: integer
      style: form
    withHTML:
      description: "Render markdown files (README, REFERENCE, etc.) to HTML before\
        \ returning results"
      explode: true
      in: query
      name: with_html
      required: false
      schema:
        type: boolean
      style: form
    includeFields:
      description: "List of top level keys to include in response object, only applies\
        \ to fields marked 'optional'"
      example:
      - docs
      explode: false
      in: query
      name: include_fields
      required: false
      schema:
        items:
          type: string
        type: array
      style: spaceDelimited
    excludeFields:
      description: List of top level keys to exclude from response object
      example:
      - readme
      - changelog
      - license
      - reference
      explode: false
      in: query
      name: exclude_fields
      required: false
      schema:
        items:
          type: string
        type: array
      style: spaceDelimited
  responses:
    NotModified:
      description: Not Modified
      headers:
        Last-Modified:
          explode: false
          schema:
            description: Date and time that this response last changed
            example: "Mon, 19 Feb 2019 10:15:08 GMT"
            format: rfc2616 httpdate
            type: string
          style: simple
    BadRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/getFile_400_response'
      description: Bad Request
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/getUserSearchFilters_401_response'
      description: Unauthorized
    Forbidden:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/deleteUserSearchFilter_403_response'
      description: Forbidden
    NotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/getFile_404_response'
      description: Not Found
    Conflict:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/addSearchFilter_409_response'
      description: Conflict
  schemas:
    Pagination:
      properties:
        limit:
          description: Maximum number of results per page
          example: 20
          type: integer
        offset:
          description: Current page's offset from the beginning of the result set
          example: 0
          type: integer
        first:
          description: Relative URL for the first page of the result set
          example: /v3/<resource>?offset=0&limit=20
          format: URL path and query string
          type: string
        previous:
          description: "Relative URL for the previous page of the result set, or `null`\
            \ if this is the first page"
          format: URL path and query string
          nullable: true
          type: string
          example: null
        current:
          description: Relative URL for the current page of the result set
          example: /v3/<resource>?offset=0&limit=20
          format: URL path and query string
          type: string
        next:
          description: "Relative URL for the next page of the result set, or `null`\
            \ if this is the last page"
          example: /v3/<resource>?offset=20&limit=20
          format: URL path and query string
          nullable: true
          type: string
        total:
          description: Total number of all results
          example: 100
          type: integer
      type: object
    User:
      example:
        updated_at: 2018-09-18 11:46:25 -0700
        release_count: 1619
        module_count: 178
        created_at: 2010-05-19 05:46:26 -0700
        display_name: Puppet
        uri: /v3/users/puppetlabs
        gravatar_id: fdd009b7c1ec96e088b389f773e87aec
        slug: puppetlabs
        username: puppetlabs
      properties:
        uri:
          description: Relative URL for this User resource
          example: /v3/users/puppetlabs
          format: URL path and query string
          type: string
        slug:
          description: Unique textual identifier for this User resource
          example: puppetlabs
          pattern: "^[a-zA-Z0-9]+$"
          type: string
        gravatar_id:
          description: "Gravatar ID, learn more at [https://gravatar.com/]()"
          example: fdd009b7c1ec96e088b389f773e87aec
          type: string
        username:
          description: Username for this User resource
          example: puppetlabs
          type: string
        display_name:
          description: Free form display name for this User resource
          example: Puppet
          type: string
        release_count:
          description: Total number of module releases (versions) published under
            this User
          example: 1619
          type: integer
        module_count:
          description: Total number of unique modules published under this User
          example: 178
          type: integer
        created_at:
          description: Date and time this User resource was created
          example: 2010-05-19 05:46:26 -0700
          format: iso8601
          type: string
        updated_at:
          description: Date and time this User resource was last modified
          example: 2018-09-18 11:46:25 -0700
          format: iso8601
          type: string
      type: object
    UserAbbreviated:
      properties:
        uri:
          description: Relative URL for this User resource
          example: /v3/users/puppetlabs
          format: URL path and query string
          type: string
        slug:
          description: Unique textual identifier for this User resource
          example: puppetlabs
          pattern: "^[a-zA-Z0-9]+$"
          type: string
        username:
          description: Username for this User resource
          example: puppetlabs
          type: string
        gravatar_id:
          description: "Gravatar ID, learn more at [https://gravatar.com/]()"
          example: fdd009b7c1ec96e088b389f773e87aec
          type: string
      type: object
    SearchFilter:
      example:
        id: 1
        filter:
          keyword: apache
          features:
            premium: true
            with_pdk: null
            with_tasks: null
          endorsements:
            partner: true
            approved: null
            supported: null
          compatibility:
            pe_requirement: "2023.1"
            operating_system: Windows
            puppet_requirement: "8.0"
            operating_system_release: "2019"
          with_minimum_score: "80"
          release_within: 1year
        active: true
        created_at: 2023-11-28 17:51:53 +0530
      properties:
        id:
          description: The unique identifier for the search filter.
          type: integer
        filter:
          description: The hash definining the search filter criteria.
          type: object
        active:
          default: false
          description: Indicates whether the search filter is active.
          type: boolean
        created_at:
          description: The timestamp indicating when the search filter was created.
          type: string
      type: object
    SearchFilterResponse:
      example:
        user_search_filters:
        - id: 1
          filter:
            keyword: apache
            features:
              premium: true
              with_pdk: null
              with_tasks: null
            endorsements:
              partner: true
              approved: null
              supported: null
            compatibility:
              pe_requirement: "2023.1"
              operating_system: Windows
              puppet_requirement: "8.0"
              operating_system_release: "2019"
            with_minimum_score: "80"
            release_within: 1year
          active: true
          created_at: 2023-11-28 17:51:53 +0530
        - id: 2
          filter:
            keyword: sql
            features:
              premium: true
              with_pdk: null
              with_tasks: null
            endorsements:
              partner: true
              approved: null
              supported: null
            compatibility:
              pe_requirement: "2023.1"
              operating_system: Windows
              puppet_requirement: "8.0"
              operating_system_release: "2019"
            with_minimum_score: "80"
            release_within: 1year
          active: true
          created_at: 2023-11-28 17:51:53 +0530
      properties:
        user_search_filters:
          description: The array of user search filter.
          items:
            $ref: '#/components/schemas/SearchFilter'
          type: array
      type: object
    Module:
      example:
        owner:
          uri: /v3/users/puppetlabs
          gravatar_id: fdd009b7c1ec96e088b389f773e87aec
          slug: puppetlabs
          username: puppetlabs
        endorsement: supported
        homepage_url: https://github.com/puppetlabs/puppetlabs-apache
        created_at: 2010-05-19 05:46:26 -0700
        current_release:
          metadata: "{}"
          file_uri: /v3/files/puppetlabs-apache-4.0.0.tar.gz
          created_at: 2019-01-10 05:18:00 -0800
          file_sha256: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
          validation_score: 100
          reference: reference
          docs: "{}"
          updated_at: 2019-01-10 05:20:17 -0800
          downloads: 12782
          file_md5: e579a02bd16f9dec56018d407be7ab32
          pe_compatibility:
          - pe_compatibility
          - pe_compatibility
          slug: puppetlabs-apache-4.0.0
          tasks:
          - metadata: "{}"
            executables:
            - init.sh
            - init.ps1
            name: init
            description: Allows you to perform apache service functions
            executable: init.sh
          - metadata: "{}"
            executables:
            - init.sh
            - init.ps1
            name: init
            description: Allows you to perform apache service functions
            executable: init.sh
          module:
            owner:
              uri: /v3/users/puppetlabs
              gravatar_id: fdd009b7c1ec96e088b389f773e87aec
              slug: puppetlabs
              username: puppetlabs
            deprecated_at: deprecated_at
            name: apache
            uri: /v3/modules/puppetlabs-apache
            slug: puppetlabs-apache
          changelog: changelog
          readme: readme
          uri: /v3/releases/puppetlabs-apache-4.0.0
          version: 4.0.0
          deleted_at: deleted_at
          file_size: 317119
          tags:
          - tags
          - tags
          license: license
          pdk: true
          plans:
          - private: true
            name: lvm::expand
            uri: /v3/releases/puppetlabs-lvm-1.4.0/plans/lvm::expand
          - private: true
            name: lvm::expand
            uri: /v3/releases/puppetlabs-lvm-1.4.0/plans/lvm::expand
          deleted_for: deleted_for
          supported: true
        uri: /v3/modules/puppetlabs-apache
        superseded_by:
          uri: /v3/modules/puppetlabs-apache
          slug: puppetlabs-apache
        feedback_score: 84
        releases:
        - file_uri: /v3/files/puppetlabs-apache-4.0.0.tar.gz
          created_at: 2019-01-10 05:18:00 -0800
          uri: /v3/releases/puppetlabs-apache-4.0.0
          version: 4.0.0
          deleted_at: deleted_at
          slug: puppetlabs-apache-4.0.0
          file_size: 317119
          supported: true
        - file_uri: /v3/files/puppetlabs-apache-4.0.0.tar.gz
          created_at: 2019-01-10 05:18:00 -0800
          uri: /v3/releases/puppetlabs-apache-4.0.0
          version: 4.0.0
          deleted_at: deleted_at
          slug: puppetlabs-apache-4.0.0
          file_size: 317119
          supported: true
        issues_url: https://tickets.puppetlabs.com/browse/MODULES
        premium: false
        updated_at: 2010-05-19 05:46:26 -0700
        downloads: 6618694
        deprecated_at: deprecated_at
        name: apache
        module_group: base
        deprecated_for: deprecated_for
        slug: puppetlabs-apache
        supported: true
      properties:
        uri:
          description: Relative URL for this Module resource
          example: /v3/modules/puppetlabs-apache
          format: URL path and query string
          type: string
        slug:
          description: Unique textual identifier for this Module resource
          example: puppetlabs-apache
          pattern: "^[a-zA-Z0-9]+[-\\/][a-z][a-z0-9_]*$"
          type: string
        name:
          description: Base name of this module (without username/namespace)
          example: apache
          pattern: "^[a-z][a-z0-9_]*$"
          type: string
        downloads:
          description: Total download count for all released versions of this module
          example: 6618694
          type: integer
        created_at:
          description: Date and time this Module resource was created
          example: 2010-05-19 05:46:26 -0700
          format: iso8601
          type: string
        updated_at:
          description: Date and time this Module resource was last modified
          example: 2010-05-19 05:46:26 -0700
          format: iso8601
          type: string
        deprecated_at:
          description: Date and time this Module resource was marked as deprecated
            by the owner
          format: iso8601
          nullable: true
          type: string
          example: null
        deprecated_for:
          description: Reason provided by the owner for marking this module as deprecated
          nullable: true
          type: string
          example: null
        superseded_by:
          $ref: '#/components/schemas/Module_superseded_by'
        supported:
          deprecated: true
          description: "Whether or not this module is a [Supported module](https://forge.puppet.com/supported),\
            \ see `endorsement` field instead"
          example: true
          type: boolean
        endorsement:
          description: "Indicates whether a module is endorsed through the Supported,\
            \ Approved or Partner Supported programs, or `null` if not endorsed"
          enum:
          - supported
          - approved
          - partner
          example: supported
          nullable: true
          type: string
        module_group:
          description: "Indicates whether or not a module is licensed for use by Puppet\
            \ Enterprise customers only, indicated by a value of `pe_only`, for all\
            \ other modules this value will be `base`"
          enum:
          - base
          - pe_only
          example: base
          type: string
        premium:
          description: Whether this module is premium (requires payment to download)
          example: false
          type: boolean
        owner:
          $ref: '#/components/schemas/Module_owner'
        current_release:
          $ref: '#/components/schemas/Module_current_release'
        releases:
          description: Array of abbreviated representations of all published Releases
            of this module
          items:
            $ref: '#/components/schemas/ReleaseAbbreviated'
          type: array
        feedback_score:
          description: Numeric score representing the average rating this module has
            received from Forge users
          example: 84
          maximum: 100
          minimum: 0
          type: integer
        homepage_url:
          description: Author-provided URL for this module's homepage
          example: https://github.com/puppetlabs/puppetlabs-apache
          format: uri
          type: string
        issues_url:
          description: Author-provided URL for reporting issues about this module
          example: https://tickets.puppetlabs.com/browse/MODULES
          format: uri
          type: string
      type: object
    ModuleAbbreviated:
      properties:
        uri:
          description: Relative URL for this Module resource
          example: /v3/modules/puppetlabs-apache
          format: URL path and query string
          type: string
        slug:
          description: Unique textual identifier for this Module resource
          example: puppetlabs-apache
          pattern: "^[a-zA-Z0-9]+[-\\/][a-z][a-z0-9_]*$"
          type: string
        name:
          description: Base name of this module (without username/namespace)
          example: apache
          pattern: "^[a-z][a-z0-9_]*$"
          type: string
        deprecated_at:
          description: Date and time this Module resource was marked as deprecated
            by the owner
          format: iso8601
          nullable: true
          type: string
          example: null
        owner:
          $ref: '#/components/schemas/Module_owner'
      type: object
    ModuleMinimal:
      properties:
        uri:
          description: Relative URL for this Module resource
          example: /v3/modules/puppetlabs-apache
          format: URL path and query string
          type: string
        slug:
          description: Unique textual identifier for this Module resource
          example: puppetlabs-apache
          pattern: "^[a-zA-Z0-9]+[-\\/][a-z][a-z0-9_]*$"
          type: string
      type: object
    Release:
      example:
        metadata: "{}"
        file_uri: /v3/files/puppetlabs-apache-4.0.0.tar.gz
        created_at: 2019-01-10 05:18:00 -0800
        file_sha256: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
        validation_score: 100
        reference: reference
        docs: "{}"
        updated_at: 2019-01-10 05:20:17 -0800
        downloads: 12782
        file_md5: e579a02bd16f9dec56018d407be7ab32
        pe_compatibility:
        - pe_compatibility
        - pe_compatibility
        slug: puppetlabs-apache-4.0.0
        tasks:
        - metadata: "{}"
          executables:
          - init.sh
          - init.ps1
          name: init
          description: Allows you to perform apache service functions
          executable: init.sh
        - metadata: "{}"
          executables:
          - init.sh
          - init.ps1
          name: init
          description: Allows you to perform apache service functions
          executable: init.sh
        module:
          owner:
            uri: /v3/users/puppetlabs
            gravatar_id: fdd009b7c1ec96e088b389f773e87aec
            slug: puppetlabs
            username: puppetlabs
          deprecated_at: deprecated_at
          name: apache
          uri: /v3/modules/puppetlabs-apache
          slug: puppetlabs-apache
        changelog: changelog
        readme: readme
        uri: /v3/releases/puppetlabs-apache-4.0.0
        version: 4.0.0
        deleted_at: deleted_at
        file_size: 317119
        tags:
        - tags
        - tags
        license: license
        pdk: true
        plans:
        - private: true
          name: lvm::expand
          uri: /v3/releases/puppetlabs-lvm-1.4.0/plans/lvm::expand
        - private: true
          name: lvm::expand
          uri: /v3/releases/puppetlabs-lvm-1.4.0/plans/lvm::expand
        deleted_for: deleted_for
        supported: true
      properties:
        uri:
          description: Relative URL for this Release resource
          example: /v3/releases/puppetlabs-apache-4.0.0
          format: URL path and query string
          type: string
        slug:
          description: Unique textual identifier for this Release resource
          example: puppetlabs-apache-4.0.0
          pattern: "^[a-zA-Z0-9]+[-\\/][a-z][a-z0-9_]*[-\\/][0-9]+\\.[0-9]+\\.[0-9]+(?:[\\\
            -+].+)?$"
          type: string
        module:
          $ref: '#/components/schemas/Release_module'
        version:
          example: 4.0.0
          format: semantic version
          type: string
        metadata:
          description: Verbatim contents of release's `metadata.json` file
          type: object
        tags:
          description: List of tags applied to this module release (derived from `metadata.json`)
          items:
            type: string
          type: array
        supported:
          deprecated: true
          description: |
            Indicates whether or not this specific module release is supported, this value is no longer relevant,
            please see the `endorsement` property of the parent module instead
          example: true
          type: boolean
        pdk:
          description: |
            Indicates whether or not this module release's metadata contains
            [Puppet Development Kit](https://puppet.com/docs/pdk/latest/pdk.html) related keys/values
          example: true
          type: boolean
        validation_score:
          description: |
            Numeric value representing module release's "Quality score", see
            [module scoring](https://forge.puppet.com/about/scoring) to learn more
          example: 100
          maximum: 100
          minimum: 0
          type: integer
        file_uri:
          description: Relative or absolute URL to download this release's tarball
          example: /v3/files/puppetlabs-apache-4.0.0.tar.gz
          format: uri
          type: string
        file_size:
          description: Size of this release's tarball in bytes
          example: 317119
          format: bytes
          type: integer
        file_md5:
          description: "MD5 checksum for this release's tarball, can be used to verify\
            \ successful download"
          example: e579a02bd16f9dec56018d407be7ab32
          format: md5
          type: string
        file_sha256:
          description: "SHA-256 checksum for this release's tarball, can be used to\
            \ verify successful download"
          example: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
          format: sha256
          type: string
        downloads:
          description: Number of times this release has been downloaded through the
            Forge
          example: 12782
          type: integer
        readme:
          description: "Contents of this release's README file, optionally converted\
            \ to HTML format if possible (see `with_html` param)"
          type: string
        changelog:
          description: "Contents of this release's CHANGELOG file, optionally converted\
            \ to HTML format if possible (see `with_html` param)"
          type: string
        license:
          description: "Contents of this release's LICENSE file, optionally converted\
            \ to HTML format if possible (see `with_html` param)"
          type: string
        reference:
          description: "Contents of this release's REFERENCE file, optionally converted\
            \ to HTML format if possible (see `with_html` param)"
          type: string
        docs:
          deprecated: true
          description: |
            (OPTIONAL) Automatically generated documentation for custom Types included in this module release, see `reference`
            key instead (This field is not included in response by default, see `include_fields` param for more info)
          type: object
        pe_compatibility:
          description: |
            (OPTIONAL) List of compatible PE versions for the release. This is calculated from the Puppet version requirement if one is provided
            in the module metadata. If a PE version but no Puppet version is provided, the PE version requirement will be returned. (This field
            is not included in response by default, see `include_fields` param for more info)
          items:
            type: string
          nullable: true
          type: array
        tasks:
          description: Metadata for any Bolt tasks included in this module release
          items:
            $ref: '#/components/schemas/ReleaseTask'
          type: array
        plans:
          description: Links to metadata for Bolt plans included in this module release
          items:
            $ref: '#/components/schemas/ReleasePlanAbbreviated'
          type: array
        created_at:
          description: Date and time this Release resource was created
          example: 2019-01-10 05:18:00 -0800
          format: iso8601
          type: string
        updated_at:
          description: Date and time this Release resource was last updated
          example: 2019-01-10 05:20:17 -0800
          format: iso8601
          type: string
        deleted_at:
          description: Date and time this Release resource was marked as deleted
          format: iso8601
          nullable: true
          type: string
          example: null
        deleted_for:
          description: Author-provided reason that this module release was marked
            as deleted
          nullable: true
          type: string
          example: null
      type: object
    ReleaseAbbreviated:
      example:
        file_uri: /v3/files/puppetlabs-apache-4.0.0.tar.gz
        created_at: 2019-01-10 05:18:00 -0800
        uri: /v3/releases/puppetlabs-apache-4.0.0
        version: 4.0.0
        deleted_at: deleted_at
        slug: puppetlabs-apache-4.0.0
        file_size: 317119
        supported: true
      properties:
        uri:
          description: Relative URL for this Release resource
          example: /v3/releases/puppetlabs-apache-4.0.0
          format: URL path and query string
          type: string
        slug:
          description: Unique textual identifier for this Release resource
          example: puppetlabs-apache-4.0.0
          pattern: "^[a-zA-Z0-9]+[-\\/][a-z][a-z0-9_]*[-\\/][0-9]+\\.[0-9]+\\.[0-9]+(?:[\\\
            -+].+)?$"
          type: string
        version:
          example: 4.0.0
          format: semantic version
          type: string
        supported:
          deprecated: true
          description: |
            Indicates whether or not this specific module release is supported, this value is no longer relevant,
            please see the `endorsement` property of the parent module instead
          example: true
          type: boolean
        created_at:
          description: Date and time this Release resource was created
          example: 2019-01-10 05:18:00 -0800
          format: iso8601
          type: string
        deleted_at:
          description: Date and time this Release resource was marked as deleted
          format: iso8601
          nullable: true
          type: string
          example: null
        file_uri:
          description: Relative or absolute URL to download this release's tarball
          example: /v3/files/puppetlabs-apache-4.0.0.tar.gz
          format: uri
          type: string
        file_size:
          description: Size of this release's tarball in bytes
          example: 317119
          format: bytes
          type: integer
      type: object
    ReleaseMinimal:
      example:
        file_uri: /v3/files/puppetlabs-apache-4.0.0.tar.gz
        uri: /v3/releases/puppetlabs-apache-4.0.0
        slug: puppetlabs-apache-4.0.0
      properties:
        uri:
          description: Relative URL for this Release resource
          example: /v3/releases/puppetlabs-apache-4.0.0
          format: URL path and query string
          type: string
        slug:
          description: Unique textual identifier for this Release resource
          example: puppetlabs-apache-4.0.0
          pattern: "^[a-zA-Z0-9]+[-\\/][a-z][a-z0-9_]*[-\\/][0-9]+\\.[0-9]+\\.[0-9]+(?:[\\\
            -+].+)?$"
          type: string
        file_uri:
          description: Relative or absolute URL to download this release's tarball
          example: /v3/files/puppetlabs-apache-4.0.0.tar.gz
          format: uri
          type: string
      type: object
    ReleaseTask:
      example:
        metadata: "{}"
        executables:
        - init.sh
        - init.ps1
        name: init
        description: Allows you to perform apache service functions
        executable: init.sh
      properties:
        name:
          description: Name for this task
          example: init
          type: string
        executable:
          deprecated: true
          description: "Executable for this task (deprecated, superseded by \"executables\"\
            )"
          example: init.sh
          type: string
        executables:
          description: Array of executable name(s) for all implementations of this
            task
          example:
          - init.sh
          - init.ps1
          items:
            type: string
          type: array
        description:
          description: Description for this task
          example: Allows you to perform apache service functions
          type: string
        metadata:
          description: |
            JSON metadata for this task, see [writing tasks](https://puppet.com/docs/bolt/latest/writing_tasks.html)
            documentation for more info
          type: object
      type: object
    ReleasePlanAbbreviated:
      example:
        private: true
        name: lvm::expand
        uri: /v3/releases/puppetlabs-lvm-1.4.0/plans/lvm::expand
      properties:
        uri:
          description: URL path to the full metadata for this plan
          example: /v3/releases/puppetlabs-lvm-1.4.0/plans/lvm::expand
          format: URL path
          type: string
        name:
          description: "The name of the plan, including the module name"
          example: lvm::expand
          type: string
        private:
          description: Whether this plan is private
          type: boolean
      type: object
    ReleasePlan:
      example:
        private: true
        filename: plans/expand.pp
        name: lvm::expand
        plan_metadata:
          private: true
          file: plans/expand.pp
          defaults:
            resize_fs: "true"
          docstring:
            text: This plan expands storage on servers using LVM...
            tags:
            - types:
              - Boolean
              - Boolean
              tag_name: param
              name: resize_fs
              text: Whether to resize the filesystem
            - types:
              - Boolean
              - Boolean
              tag_name: param
              name: resize_fs
              text: Whether to resize the filesystem
          line: 15
          name: lvm::expand
          source: |-
            plan lvm::expand (
              String...
        uri: /v3/releases/puppetlabs-lvm-1.4.0/plans/lvm::expand
      properties:
        uri:
          description: Relative URL for this Plan resource
          example: /v3/releases/puppetlabs-lvm-1.4.0/plans/lvm::expand
          format: URL path and query string
          type: string
        name:
          description: "The name of the plan, including the module name"
          example: lvm::expand
          type: string
        filename:
          description: Path to this Plan within the module's file structure
          example: plans/expand.pp
          type: string
        plan_metadata:
          $ref: '#/components/schemas/ReleasePlan_plan_metadata'
        private:
          description: Whether this plan is private
          type: boolean
      type: object
    DeprecationRequest:
      example:
        action: deprecate
        params:
          reason: No longer maintained
          replacement_slug: puppet-nginx
      properties:
        action:
          description: Action to take on resource. 'deprecate' is currently the only
            valid option.
          enum:
          - deprecate
          example: deprecate
          type: string
        params:
          $ref: '#/components/schemas/DeprecationRequest_params'
      type: object
    getFile_400_response:
      example:
        message: 400 Bad Request
        errors:
        - '''puppetlabs-apache4.5.0'' is not a valid release slug'
      properties:
        message:
          example: 400 Bad Request
          type: string
        errors:
          example:
          - '''puppetlabs-apache4.5.0'' is not a valid release slug'
          items:
            type: string
          type: array
      type: object
    getFile_404_response:
      example:
        message: 404 Not Found
        errors:
        - The requested resource could not be found
      properties:
        message:
          example: 404 Not Found
          type: string
        errors:
          example:
          - The requested resource could not be found
          items:
            type: string
          type: array
      type: object
    getModules_200_response_pagination:
      allOf:
      - $ref: '#/components/schemas/Pagination'
      - properties:
          first:
            example: /v3/modules?offset=0&limit=20
          current:
            example: /v3/modules?offset=0&limit=20
          next:
            example: /v3/modules?offset=20&limit=20
      example:
        next: /v3/modules?offset=20&limit=20
        current: /v3/modules?offset=0&limit=20
        total: 100
        offset: 0
        previous: previous
        limit: 20
        first: /v3/modules?offset=0&limit=20
    getModules_200_response:
      example:
        pagination:
          next: /v3/modules?offset=20&limit=20
          current: /v3/modules?offset=0&limit=20
          total: 100
          offset: 0
          previous: previous
          limit: 20
          first: /v3/modules?offset=0&limit=20
        results:
        - owner:
            uri: /v3/users/puppetlabs
            gravatar_id: fdd009b7c1ec96e088b389f773e87aec
            slug: puppetlabs
            username: puppetlabs
          endorsement: supported
          homepage_url: https://github.com/puppetlabs/puppetlabs-apache
          created_at: 2010-05-19 05:46:26 -0700
          current_release:
            metadata: "{}"
            file_uri: /v3/files/puppetlabs-apache-4.0.0.tar.gz
            created_at: 2019-01-10 05:18:00 -0800
            file_sha256: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            validation_score: 100
            reference: reference
            docs: "{}"
            updated_at: 2019-01-10 05:20:17 -0800
            downloads: 12782
            file_md5: e579a02bd16f9dec56018d407be7ab32
            pe_compatibility:
            - pe_compatibility
            - pe_compatibility
            slug: puppetlabs-apache-4.0.0
            tasks:
            - metadata: "{}"
              executables:
              - init.sh
              - init.ps1
              name: init
              description: Allows you to perform apache service functions
              executable: init.sh
            - metadata: "{}"
              executables:
              - init.sh
              - init.ps1
              name: init
              description: Allows you to perform apache service functions
              executable: init.sh
            module:
              owner:
                uri: /v3/users/puppetlabs
                gravatar_id: fdd009b7c1ec96e088b389f773e87aec
                slug: puppetlabs
                username: puppetlabs
              deprecated_at: deprecated_at
              name: apache
              uri: /v3/modules/puppetlabs-apache
              slug: puppetlabs-apache
            changelog: changelog
            readme: readme
            uri: /v3/releases/puppetlabs-apache-4.0.0
            version: 4.0.0
            deleted_at: deleted_at
            file_size: 317119
            tags:
            - tags
            - tags
            license: license
            pdk: true
            plans:
            - private: true
              name: lvm::expand
              uri: /v3/releases/puppetlabs-lvm-1.4.0/plans/lvm::expand
            - private: true
              name: lvm::expand
              uri: /v3/releases/puppetlabs-lvm-1.4.0/plans/lvm::expand
            deleted_for: deleted_for
            supported: true
          uri: /v3/modules/puppetlabs-apache
          superseded_by:
            uri: /v3/modules/puppetlabs-apache
            slug: puppetlabs-apache
          feedback_score: 84
          releases:
          - file_uri: /v3/files/puppetlabs-apache-4.0.0.tar.gz
            created_at: 2019-01-10 05:18:00 -0800
            uri: /v3/releases/puppetlabs-apache-4.0.0
            version: 4.0.0
            deleted_at: deleted_at
            slug: puppetlabs-apache-4.0.0
            file_size: 317119
            supported: true
          - file_uri: /v3/files/puppetlabs-apache-4.0.0.tar.gz
            created_at: 2019-01-10 05:18:00 -0800
            uri: /v3/releases/puppetlabs-apache-4.0.0
            version: 4.0.0
            deleted_at: deleted_at
            slug: puppetlabs-apache-4.0.0
            file_size: 317119
            supported: true
          issues_url: https://tickets.puppetlabs.com/browse/MODULES
          premium: false
          updated_at: 2010-05-19 05:46:26 -0700
          downloads: 6618694
          deprecated_at: deprecated_at
          name: apache
          module_group: base
          deprecated_for: deprecated_for
          slug: puppetlabs-apache
          supported: true
        - owner:
            uri: /v3/users/puppetlabs
            gravatar_id: fdd009b7c1ec96e088b389f773e87aec
            slug: puppetlabs
            username: puppetlabs
          endorsement: supported
          homepage_url: https://github.com/puppetlabs/puppetlabs-apache
          created_at: 2010-05-19 05:46:26 -0700
          current_release:
            metadata: "{}"
            file_uri: /v3/files/puppetlabs-apache-4.0.0.tar.gz
            created_at: 2019-01-10 05:18:00 -0800
            file_sha256: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            validation_score: 100
            reference: reference
            docs: "{}"
            updated_at: 2019-01-10 05:20:17 -0800
            downloads: 12782
            file_md5: e579a02bd16f9dec56018d407be7ab32
            pe_compatibility:
            - pe_compatibility
            - pe_compatibility
            slug: puppetlabs-apache-4.0.0
            tasks:
            - metadata: "{}"
              executables:
              - init.sh
              - init.ps1
              name: init
              description: Allows you to perform apache service functions
              executable: init.sh
            - metadata: "{}"
              executables:
              - init.sh
              - init.ps1
              name: init
              description: Allows you to perform apache service functions
              executable: init.sh
            module:
              owner:
                uri: /v3/users/puppetlabs
                gravatar_id: fdd009b7c1ec96e088b389f773e87aec
                slug: puppetlabs
                username: puppetlabs
              deprecated_at: deprecated_at
              name: apache
              uri: /v3/modules/puppetlabs-apache
              slug: puppetlabs-apache
            changelog: changelog
            readme: readme
            uri: /v3/releases/puppetlabs-apache-4.0.0
            version: 4.0.0
            deleted_at: deleted_at
            file_size: 317119
            tags:
            - tags
            - tags
            license: license
            pdk: true
            plans:
            - private: true
              name: lvm::expand
              uri: /v3/releases/puppetlabs-lvm-1.4.0/plans/lvm::expand
            - private: true
              name: lvm::expand
              uri: /v3/releases/puppetlabs-lvm-1.4.0/plans/lvm::expand
            deleted_for: deleted_for
            supported: true
          uri: /v3/modules/puppetlabs-apache
          superseded_by:
            uri: /v3/modules/puppetlabs-apache
            slug: puppetlabs-apache
          feedback_score: 84
          releases:
          - file_uri: /v3/files/puppetlabs-apache-4.0.0.tar.gz
            created_at: 2019-01-10 05:18:00 -0800
            uri: /v3/releases/puppetlabs-apache-4.0.0
            version: 4.0.0
            deleted_at: deleted_at
            slug: puppetlabs-apache-4.0.0
            file_size: 317119
            supported: true
          - file_uri: /v3/files/puppetlabs-apache-4.0.0.tar.gz
            created_at: 2019-01-10 05:18:00 -0800
            uri: /v3/releases/puppetlabs-apache-4.0.0
            version: 4.0.0
            deleted_at: deleted_at
            slug: puppetlabs-apache-4.0.0
            file_size: 317119
            supported: true
          issues_url: https://tickets.puppetlabs.com/browse/MODULES
          premium: false
          updated_at: 2010-05-19 05:46:26 -0700
          downloads: 6618694
          deprecated_at: deprecated_at
          name: apache
          module_group: base
          deprecated_for: deprecated_for
          slug: puppetlabs-apache
          supported: true
      properties:
        pagination:
          $ref: '#/components/schemas/getModules_200_response_pagination'
        results:
          items:
            $ref: '#/components/schemas/Module'
          type: array
      type: object
    getUserSearchFilters_401_response:
      example:
        message: 401 Unauthorized
        errors:
        - This endpoint requires a valid Authorization header
      properties:
        message:
          example: 401 Unauthorized
          type: string
        errors:
          example:
          - This endpoint requires a valid Authorization header
          items:
            type: string
          type: array
      type: object
    addSearchFilter_409_response:
      example:
        message: 409 Conflict
        errors:
        - A release with the version specified in the metadata.json already exists
          for this module.
      properties:
        message:
          example: 409 Conflict
          type: string
        errors:
          example:
          - A release with the version specified in the metadata.json already exists
            for this module.
          items:
            type: string
          type: array
      type: object
    deleteUserSearchFilter_403_response:
      example:
        message: 403 Forbidden
        errors:
        - The provided API key is invalid or has insufficient permissions for the
          requested operation
      properties:
        message:
          example: 403 Forbidden
          type: string
        errors:
          example:
          - The provided API key is invalid or has insufficient permissions for the
            requested operation
          items:
            type: string
          type: array
      type: object
    getReleases_200_response_pagination:
      allOf:
      - $ref: '#/components/schemas/Pagination'
      - properties:
          first:
            example: /v3/releases?offset=0&limit=20
          current:
            example: /v3/releases?offset=0&limit=20
          next:
            example: /v3/releases?offset=20&limit=20
      example:
        next: /v3/releases?offset=20&limit=20
        current: /v3/releases?offset=0&limit=20
        total: 100
        offset: 0
        previous: previous
        limit: 20
        first: /v3/releases?offset=0&limit=20
    getReleases_200_response:
      example:
        pagination:
          next: /v3/releases?offset=20&limit=20
          current: /v3/releases?offset=0&limit=20
          total: 100
          offset: 0
          previous: previous
          limit: 20
          first: /v3/releases?offset=0&limit=20
        results:
        - metadata: "{}"
          file_uri: /v3/files/puppetlabs-apache-4.0.0.tar.gz
          created_at: 2019-01-10 05:18:00 -0800
          file_sha256: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
          validation_score: 100
          reference: reference
          docs: "{}"
          updated_at: 2019-01-10 05:20:17 -0800
          downloads: 12782
          file_md5: e579a02bd16f9dec56018d407be7ab32
          pe_compatibility:
          - pe_compatibility
          - pe_compatibility
          slug: puppetlabs-apache-4.0.0
          tasks:
          - metadata: "{}"
            executables:
            - init.sh
            - init.ps1
            name: init
            description: Allows you to perform apache service functions
            executable: init.sh
          - metadata: "{}"
            executables:
            - init.sh
            - init.ps1
            name: init
            description: Allows you to perform apache service functions
            executable: init.sh
          module:
            owner:
              uri: /v3/users/puppetlabs
[...]
