package components

import gen "github.com/dadav/gorge/pkg/gen/v3/openapi"

templ AuthorView(modules []*gen.Module) {
	<h3>{ modules[0].Owner.Username }</h3>
	<table>
		<thead>
			<tr>
				<th scope="col">Module</th>
				<th scope="col">Version</th>
			</tr>
		</thead>
		<tbody>
			for _, module := range modules {
				<tr>
					<td>
						{ module.Name }
					</td>
					<td>
						{ module.CurrentRelease.Version }
					</td>
				</tr>
			}
		</tbody>
	</table>
}
