package components

templ Page(title string, content templ.Component) {
	<!DOCTYPE html>
	<html>
		@Header(title)
		<body>
			<header class="container">
				@Nav(title)
			</header>
			<main class="container">
				@content
			</main>
			<script src="/assets/theme-switcher.js"></script>
		</body>
	</html>
}
